/*账号绑定css开始*/
.account_item ul .bind_tips {
    height: 28px;
    line-height:28px;
    font-size: 12px;
    color: #ff7900;
    margin-top: 10px;
}
.account_bind {
    background: #fff;
    padding-top: 13px;
    padding-left: 34px;
    padding-right: 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #323232;
}

.content_wrap .account_bind .title {
    margin-left: 0;
    margin-right: 0;
}

.account_list {
    padding-top: 30px;
    padding-bottom:20px;
}

.account_list .account_item {
    height: 66px;
    line-height: 66px;
    background: #f4f4f4;
    font-size: 12px;
    margin-bottom: 30px;
}

.account_list .account_item:last-child {
    margin-bottom: 48px;
}

.account_item ul li {
    height: 66px;
}

.account_item ul li > div {
    width: 33.33%;
    height: 66px;
    float: left;
    color: #727272;
    text-align: center;
}

.account_item ul li > div:first-child {
    text-align: left;

}

.account_item ul li .icon_box i {
    font-size: 38px;
    margin-left: 38px;
    color: #999;
}

.account_item ul li .icon_box i.icon-weibo1.bind {
    color: #ea5d5c;
}

.account_item ul li .icon_box i.icon-weixin2.bind {
    color: #1abd11;
}

.account_item ul li .icon_box i.icon-QQ1.bind {
    color: #30a5dd;
}

.account_item ul li .icon_box i.icon-zhifubao-copy.bind {
    color: #30a5dd;
}

.account_item ul li {
    position: relative;
}

.account_item ul li span {
    margin-left: 6px;
    color: #727272;
    position: absolute;
    top: 0px;
    left: 80px;
}

.account_item ul li .icon_box span {
    width: 35%;
    height: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.account_item ul li .to_bind {
    color: #2181f7;
}

.account_item ul li .to_bind a {
    color: #2181f7;
}

.account_item ul li .to_bind i {
    font-size: 12px;
    margin-left: 4px;
}

/*账号绑定css结束*/