
/*右边部分*/
.content_wrap .content_right {
    width: 1036px;
    margin-left: 12px;
}

.content_right .user_infor {
    height: 160px;
    background: #fff;

}

.user_infor_left {
    width: 517px;
    height: 160px;
    position: relative;
    border-right: 1px solid #e5e5e5;
}

.user_infor_left .img {
    width: 95px;
    height: 95px;
    max-width: 95px;
    max-height: 95px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 33px 14px 0 25px;
    float: left;
}

.user_infor_left .img img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.user_infor_left .desc {
    margin-left: 120px;
    padding-left: 10px;
    padding-top: 33px;
    font-size: 12px;
}

.user_infor_left .desc .p1 {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.user_infor_left .desc p {
    height: 30px;
    line-height: 30px;
}

.user_infor_left .desc .p2 {
    width: 54px;
    height: 20px;
    line-height: 20px;
    text-align: right;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #cbc8c1;
    color: #fff;
    font-size: 12px;
    padding-right: 6px;
}

.user_infor_left .desc .p1 span.name {
    color: #323232;
}

.user_infor_left .desc .p1 span.level {
    color: #fd982d;
    font-size: 14px;
    margin-left: 16px;
}

.user_infor_left .desc .p1 span.level i {
    color: #fdd32d;
}

.user_infor_left .desc .p3 span.safe_level {
    display: inline-block;
    width: 52px;
    height: 10px;
    margin-left: 10px;
    margin-right: 12px;
    background: url(../images/company_user/level1.png) no-repeat;
}

.user_infor_left .extra {
    width: 0;
    height: 0;
    border-color: transparent #2181f7;
    border-width: 0px 90px 70px 0px;
    border-style: solid;
    position: absolute;
    top: 0;
    right: -1px;
    font-size: 12px;
}

.user_infor_left .extra span.kaitong {
    display: block;
    width: 28px;
    padding: 2px 3px;
    height: 12px;
    background: #fd982d;
    color: #fff;
    line-height: 12px;
    text-align: center;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(40deg);
    position: absolute;
    top: 6px;
    right: -92px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 8px;
    font-size: 10px;

}

.user_infor_left .extra span.plus {
    display: block;
    padding: 2px 4px;
    color: #fff;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(40deg);
    position: absolute;
    top: 20px;
    right: -92px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 8px;
    font-size: 12px;
}

.user_infor_left .extra span.tequan {
    display: block;
    padding: 2px 0px;
    color: #9b9b9b;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(40deg);
    position: absolute;
    top: 40px;
    right: -76px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 8px;
    font-size: 12px;
}

.content_right .user_infor .user_infor_right {
    width: 518px;
    padding: 56px 42px 56px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.user_infor_right ul li {
    float: left;
    padding: 0 30px;
    font-size: 12px;
}

.user_infor_right ul li:first-child {
    border-right: 1px solid #eee;
}

.user_infor_right ul li p span.price {
    color: #ff7900;
}

.user_infor_right ul li p a {
    margin-left: 8px;
    color: #2181f7;
}

.user_infor_right ul li p i {
    color: #2181f7;
}

.user_infor_right ul li p .jifen,
.user_infor_right ul li p .youhui_num {
    color: #ff7900;

}

.user_infor_right ul li p.p2 a {
    margin-left: 16px;
}

.user_infor_right ul li p.p2 {
    margin-top: 12px;
}

/*订单状态 */
.order_state {
    height: 128px;
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;

}

.order_state ul {
    overflow: hidden;
}

.order_state ul li {
    width: 24%;
    float: left;
    border-right: 2px solid #efefef;
}

.order_state ul li:last-child {
    border-right: 0 none;
}

.order_state ul li .icon {
    width: 48px;
    height: 43px;
    margin: 0 auto;
}

.order_state ul li .icon i {
    display: block;
    width: 48px;
    height: 48px;
    font-size: 38px;
    margin-left: 4px;
    color: #2181f7;
}

.order_state ul li p {
    color: #999;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

.order_state ul li p:hover {
    cursor: pointer;
}

.order_state ul li p span {
    color: #fd982d;
    margin-left: 6px;
}

/*我的订单列表*/
.myorder {
    height: 340px;
    margin-top: 4px;
}

.content_wrap .myorder .title {
    height: 58px;
    line-height: 58px;
    background: #f4f4f4;
    color: #323232;
    border-bottom: 0 none;
}

.myorder .title a {
    color: #999;
    font-size: 12px;
    margin-right: 300px;
}

.myorder .title span.plus {
    margin-right: 206px;
    color: #323232;
    font-size: 14px;
}

.myorder .order_list {
    width: 716px;
    float: left;
}

.order_list .order_item {
    height: 280px;
    font-size: 12px;
    border-bottom: 1px solid #e5e5e5;
    background: #fff;

}

.order_list .order_item:last-child {
    border-bottom: 0 none;
}

.order_list .order_item .item {
    /*width: 716px;*/
    background: #fff;
    height: 140px;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}

.order_list .order_item .item:last-child {
    border-bottom: 0 none;
}

.order_item .item > div {
    float: left;
}

.order_item .item .pro_img {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    float: left;
    /*margin-top: 26px;*/
    /*margin-left: 20px;*/
}

.order_item .item .pro_img img {
    display: block;
    width: 100%;
    height: 100%;
}

.order_item .item .desc {
    margin-top: 14px;
    margin-left: 10px;
    float: left;
    width: 176px;
}

.order_item .item .desc p {
    line-height: 26px;
    font-size: 14px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.order_item .item .desc .p2 {
    font-size: 12px;
}

/*服务商信息*/
.order_item .item .server_msg {
    margin-left: 34px;
    margin-top: 26px;
}

.order_item .item .server_msg .img {
    width: 48px;
    height: 48px;
    max-width: 48px;
    max-height: 48px;

}

.order_item .item .server_msg .img img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.order_item .item .server_msg .name {
    margin-top: 14px;
    font-size: 12px;
    margin-left: 6px;

}

/*价格*/
.order_item .item .price {
    margin-top: 40px;
    margin-left: 34px;
}

.order_item .item .price p {
    line-height: 24px;
    text-align: center;
}

/*订单状态*/
.order_item .item .state {
    margin-top: 40px;
    margin-left: 30px;

}

.order_item .item .state p {
    text-align: center;
    line-height: 24px;
}

.order_item .item .state p.text {
    color: #fd982d;
}

.order_list .item .item_right {
    width: 300px;
    height: 140px;
    background: olive;
}

/*关于订单*/
.order_item .item .about_order {
    margin-top: 40px;
    margin-left: 54px;
}

.order_item .item .about_order a {
    display: block;
    line-height: 22px;
    color: #777;
}

.order_item .item .pro_info {
    width: 290px;
    padding-top: 26px;
    padding-left: 18px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.order_item .item .pro_info a {
    display: block;
    width: 100%;
    height: 100%;
    color: #474747;
}

.order_item .item .pro_info .tc_title {
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.order_item .item .pro_info .tc_title .title_des {

}

.order_item .item .pro_info .tc_list {
    margin-top: 6px;
}

.order_item .item .pro_info .tc_list li {
    line-height: 32px;
    position: relative;
    padding-left: 30px;

}

.order_item .item .pro_info .tc_list li i {
    font-size: 30px;
    color: #ff7900;
    position: absolute;
    left: 0;
    top: 0;

}

.order_item .item .pro_info .tc_list li span {
    line-height: 30px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.order_item .item .pro_info .pro_list {
    font-size: 0;

}

.order_item .item .pro_info .pro_list img {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
    float: left;
}

.order_item .item .pro_info .more {
    display: block;
    float: left;
    width: 35px;
    height: 9px;
    margin-top: 36px;
    background: url(../images/company_user/icon_more.png) no-repeat center;
}

/*plus*/
.myorder .plus_box {
    width: 300px;
    float: right;
    /*background: #fff;*/
    /*padding-bottom: 24px;*/
}

.plus_box > div {
    width: 300px;
    height: 135px;
    max-width: 300px;
    max-height: 135px;
    /*margin-bottom: 10px;*/
}

.plus_box > div:last-child {
    margin-bottom: 0;
    margin-top:10px;
}

.plus_box > div a {
    display: block;
    width: 100%;
    height: 100%;

}

.plus_box > div a img {
    display: block;
    width: 100%;
    height: 100%;
}

/*.myorder .plus_box .item {*/
/*width: 150px;*/
/*float: left;*/
/*}*/

/*.myorder .plus_box .item .img {*/
/*width: 70px;*/
/*height: 70px;*/
/*-webkit-border-radius: 50%;*/
/*-moz-border-radius: 50%;*/
/*border-radius: 50%;*/
/*margin-top: 32px;*/
/*margin-left: 46px;*/
/*border: 2px solid #ff7900;*/
/*position: relative;*/
/*}*/

/*.myorder .plus_box .item .img i {*/
/*font-size: 38px;*/
/*position: absolute;*/
/*top: 14px;*/
/*left: 16px;*/
/*color: #ff7900;*/
/*}*/

/*.myorder .plus_box .item p {*/
/*text-align: center;*/
/*font-size: 14px;*/
/*margin-top: 8px;*/
/*margin-left: 10px;*/
/*}*/

/*什么值得买*/
.content_wrap .best_goods .title {
    height: 54px;
    line-height: 54px;
    margin-top: 10px;
    border-bottom: 0 none;
}

.best_goods .goods_list {

}

.best_goods .goods_list ul {
    overflow: hidden;
}

.best_goods .goods_list ul li {
    width: 246px;
    height: 296px;
    float: left;
    padding-top: 15px;
    padding-left: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    color: #323232;
    margin-right: 16px;
    margin-bottom: 16px;
    /*position: relative;*/
}

.best_goods .goods_list ul li:nth-child(4n) {
    margin-right: 0;
}

.best_goods .goods_list ul li:hover {
    border: 1px solid #ff7900;
}

.best_goods .goods_list ul li .img {
    width: 220px;
    height: 172px;
    max-width: 220px;
    max-height: 172px;
}

.best_goods .goods_list ul li .img img {
    display: block;
    width: 100%;
    height: 100%;
}

.best_goods .goods_list ul li p {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}

.best_goods .goods_list ul li p.p1 {
    margin-top: 10px;
    /*position: absolute;*/
    /*top: 200px;*/
    /*left: 65px;*/

}

.best_goods .goods_list ul li p.p2 {
    font-size: 12px;
    color: #999;
    /*position: absolute;*/
    /*top: 224px;*/
    /*left: 65px;*/
}

.best_goods .goods_list ul li p.p3 {
    font-size: 20px;
    color: #ff7900;
    /*position: absolute;*/
    /*top: 250px;*/
    /*left: 60px;*/
    margin-top: 8px;
}

.best_goods .goods_list ul li p.p1,
.best_goods .goods_list ul li p.p2 {
    padding: 0 20px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*无订单*/
.empty_order {
    width: 100%;
    height: 280px;
    background: #fff;
    position: relative;
}

.empty_order img {
    width: 300px;
    height: 140px;
    /* margin-left: 110px; */
    /* margin: 0 auto; */
    margin-left: 204px;
    margin-top: 46px;
}

.empty_order .xiadanBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 96px;
    margin-top: -24px;
    font-size: 14px;
    color: transparent;
}

/*中心结束*/

/*企业个人中心结束*/
