<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>主页</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <environment include="Development">
        <link rel="shortcut icon" href="favicon.ico">
        <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
        <link href="/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
        <link href="/css/animate.css" rel="stylesheet">
        <link href="/css/style.css?v=4.1.0" rel="stylesheet">
        <link href="/lib/poshytip/tip-yellowsimple/tip-yellowsimple.css" rel="stylesheet" />
        <link href="/lib/zTree/zTreeStyle/bootstrapStyle.css" rel="stylesheet" />
        <script src="/js/jquery.min.js?v=2.1.4"></script>
    </environment>
    @RenderSection("Styles", required: false)
    
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <partial name="_Nav.cshtml" />
        
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
               <partial name="_Head.cshtml" />
            </div>
            <div class="row J_mainContent">
                <div class="wrapper wrapper-content animated fadeInRight">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>
    <environment include="Development">
        <!-- 全局js -->
        <script src="/js/bootstrap.min.js?v=3.3.6"></script>
        <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/js/plugins/layer/layer.min.js"></script>
        <!-- 自定义js -->
        <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="/lib/poshytip/jquery.poshytip.js"></script>
        <script src="/js/layer.js"></script>
        <script src="/js/page.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/hAdmin.js?v=4.1.0"></script>
        <script src="/lib/zTree/jquery.ztree.core.js"></script>
        <script src="/lib/zTree/jquery.ztree.excheck.js"></script>
        <script src="/lib/zTree/jquery.ztree.exedit.js"></script>
        <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
        <script src='/lib/layer-v3.0.3/layer/layer.js'></script>
        <!-- 第三方插件 -->
        <script src="/js/plugins/pace/pace.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)

</body>
</html>
