@{
    ViewData["Title"] = "Home Page";
}

<form action="/home/FileUpLoad"   enctype="multipart/form-data" method="post">
    <input type="file" name="file" />
    <input type="submit" value="上传" />
</form>