@*<header class="index-nav index-guest">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-sm-9 col-md-9 primary-menu order-sm-1 order-2">
                    <nav class="navbar navbar-expand-lg">
                        <div class="navbar-brand">
                            <a class="logo js-scroll-trigger" href="index.html"><img src="/picture/logo.png" alt=""></a>
                            <a class="s-logo js-scroll-trigger" href="index.html"><img src="/picture/logo2.png" alt=""></a>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">首页</a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 header-notification order-sm-2 order-1">
                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav ml-auto right-menu">
                            <li class="nav-item">
                                <a class="nav-link message" href="#" data-toggle="modal" data-target="#unread-messages">
                                    <svg class="svg-inline--fa fa-envelope fa-w-16" aria-hidden="true" data-prefix="far" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                        <path fill="currentColor" d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg><!-- <i class="far fa-envelope"></i> -->
                                    <span>10</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown menu-padding dropdown-user">
                                <a class="nav-link user-img" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/picture/user.png" alt="">
                                    <span class="online"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a href="freelancer-profile-portfolio.html" class="dropdown-item">登录</a></li>
                                    <li class="nav-item"><a href="chatting.html" class="dropdown-item">注册</a></li>

                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
*@