<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="application-name" content="">
    <meta name="description" content="">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/bootstrap-reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>
       
    </style>
</head>
<body>
    <partial name="_headere" />
    @RenderBody()
    <partial name="_footer" />
    

    <script src="/js/font-awesome.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/index.js"></script>

    @RenderSection("Scripts", required: false)
    <script>
    </script>
</body>
</html>