@model STSys.Core.Admin.Application.ViewModels.SelectDataViewModel
@{
    ViewBag.Title = "CustomPage";
    Layout = "~/Views/Shared/_Pop.cshtml";
}
<link href="/lib/webuploader-0.1.5/webuploader.css" rel="stylesheet" />
<link href="/lib/product.css" rel="stylesheet" />
<style>
    .image_ul li {
        margin: 0px;
        margin-bottom: 5px;
    }

    .uploading-tip {
        height: 25px;
        position: absolute;
        top: -10px;
        right: -15px;
        z-index: 999;
        background: inherit;
        opacity: 1;
    }

    .webuploader-pick {
        position: relative;
        display: inline-block;
        cursor: pointer;
        background: #00b7ee;
        padding: 10px 15px;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        overflow: hidden;
    }

    .webuploader-pick-hover {
        background: #00a2d4;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <div class="panel-body">
                <form class="form-horizontal" role="form" asp-controller="Recommend" asp-action="CustomPageEdit" data-ajax="true" data-ajax-method="post" data-ajax-success="formSuccess">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1">名 称</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Name" class="form-control" placeholder="名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1">价 格</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Price" class="form-control" placeholder="价 格">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1">跳转地址</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Url" class="form-control" placeholder="跳转地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1">排序</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Sort" class="form-control" placeholder="排序">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1">图片</label>
                        <div class="col-sm-10 ">
                            <ul class="image_ul" id="image_ul">
                                <li>
                                    <img src="/Content/webuploader-0.1.5/imgadd.png" id="img_BasicPicUrl" />
                                </li>
                            </ul>
                            <div id="uploader-demo">
                                <div id="filePicker">选择图片</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1">简要说明</label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Intro" class="form-control" placeholder="简要说明">

                        </div>
                    </div>
                    <div class="form-actions center">
                        <button type="submit" class="btn btn-danger">保存</button>
                    </div>
                    @Html.Hidden("Img",Model.Img)
                    @Html.Hidden("cid", (Guid)ViewBag.cid)
                    @Html.Hidden("tabid", (string)ViewBag.guid)
                    @Html.HiddenFor(s => s.Id)
                </form>
            </div>
        </section>
    </div>
</div>

<script src="/lib/webuploader-0.1.5/webuploader.js"></script>
<script>
    $(function () {
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: true,
            // swf文件路径
            swf: '/Content/webuploader-0.1.5/Uploader.swf',
            // 文件接收服务端。
            server: '/Util/BasicPicUrl',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',
            // 只允许选择图片文件。
            duplicate: true,
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/jpg,image/jpeg,image/png'
            }
        });
        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, obj) {
            if (obj.d) {
                $("#img_BasicPicUrl").attr("src", obj.msg); $("#Img").val(obj.msg);
            }
            else {
                alert(obj.msg);
            }
        });
        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            alert("上传失败");
        });
        $(".webuploader-pick").click(function () {
            $(".webuploader-element-invisible").click();
        });
    })
</script>