################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/STSys.Core/v15/Server/sqlite3
/0 - Presentention
/1 - Application
/2 - Domain
/3 - Infrastructure
/4 - Common
/5 - Client
