/*企业个人中心 服务顾问个人中心公共 css 开始*/

/*单选按钮样式开始*/
.radio-check {
    display: inline-block;
    width: 58px;
    position: relative;
    height: 32px;
}

.radio-check > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    opacity: 0;
}

.radio-check:hover, .radio-check > input:hover, .radio-check > label:hover {
    cursor: pointer;
}

.radio-check > label {
    position: absolute;
    left: 30px;
    line-height: 20px;
    top: 0px;
}

.radio-check > label:before {
    content: '';
    position: absolute;
    left: -28px;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.radio-check > label:after {
    content: '';
    position: absolute;
    left: -30px;
    top: 0px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 6px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.radio-check input[type='radio']:checked + label:before {
    border-color: #ff7900;
}

.radio-check input[type='radio']:checked + label:after {
    background: #ff7900;
}

/*.radio-check i {*/
/*position: absolute;*/
/*top: -10px;*/
/*left: -27px;*/
/*font-size: 24px;*/
/*}*/

/*.radio-check i.icon-xiaolian {*/
/*color: #ff0000;*/
/*}*/

/*.radio-check i.icon-yiban {*/
/*color: #ff9e1f;*/
/*}*/

/*.radio-check i.icon-kulian-line {*/
/*color: #adadad;*/
/*}*/
.radio-check i {
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: -28px;

}

/*单选按钮样式结束*/

/*公共进度条开始*/
.progress {
    height: 160px;
    padding-top: 48px;
    padding-left: 80px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.progress ul li {
    width: 290px;
    height: 5px;
    float: left;
    background: #c9c9c9;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.progress ul li.active {
    background: #2181f7;
    color: #2181f7;
}

.progress ul li.active span {
    background: #2181f7;
}

.progress ul li.active p {
    color: #2181f7;
}

.progress ul li span {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #c9c9c9;
    color: #fff;
    position: absolute;
    top: -12px;
    left: 128px;
}

.progress ul li p {
    text-align: center;
    color: #727272;
    font-size: 14px;
    margin-top: 26px;
}

/*公共进度条结束*/
/*导航开始*/
nav {
    height: 100px;
    background: #fd982d;
}

.nav_wrap {
    position: relative;
    height: 100px;
}

.nav_wrap .logo_wrap {
    width: 150px;
    height: 100%;
    float: left;
}

.nav_wrap .logo {
    position: absolute;
    top: 20px;
    left: 0;
    border-right: 2px solid #fff;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav_wrap .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.nav_wrap .right_con {
    float: left;
    color: #fff;

}

.right_con .center {
    height: 100px;
    padding: 0 18px;
    padding-top: 28px;
    margin-right: 5px;
    line-height: 24px;
    box-sizing: border-box;
}

.right_con .center p {
    font-size: 16px;
}

.right_con .center a {
    color: #fff;
    font-size: 12px;
}

.right_con .my_list {

}

.right_con .my_list ul {
    margin-top: 30px;
    position: relative;
}

.right_con .my_list ul li {
    float: left;
    margin-right: 5px;
    font-size: 14px;
    width: 104px;
    height: 36px;
    line-height: 36px;
    text-align: center;

}

.right_con .my_list ul li.account_set i {
    margin-left: 10px;
}

/*下拉出来的内容*/
.right_con .my_list .drop_box {
    width: 104px;
    position: absolute;
    top: 36px;
    left: 109px;
    z-index: 10;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-top: 0 none;
    display: none;
}

.right_con .my_list ul .drop_box ul {
    margin-top: 0;
    overflow: hidden;
}

.right_con .my_list ul .drop_box li {
    height: 36px;
    line-height: 36px;
    text-align: center;
}

.right_con .my_list ul ul li a {
    color: #323232;
    display: block;
}

.right_con .my_list ul ul li a:hover {
    background: #f4f4f4;
    color: #ff7900;
}

.right_con .my_list ul li.active {
    background: #fff;
    color: #323232;
    border: 1px solid #e5e5e5;
    border-bottom: 0 none;
}

.right_con .my_list ul li.active a {
    color: #323232;
}

.right_con .my_list ul li a {
    color: #fff;
    position: relative;
}

/*消息提示开始*/

.right_con .my_list li.msg:hover {
    cursor: pointer;
}

.right_con .my_list li.msg i {
    display: block;
    position: absolute;
    font-family: verdana;
    color: #333;
    text-align: center;
    overflow: hidden;
    transition: -webkit-transform .2s ease-in 0s;
    transition: transform .2s ease-in 0s;
    transition: transform .2s ease-in 0s,
    -webkit-transform .2s ease-in 0s;
    padding: 0 5px;
    border-radius: 9px 9px 9px 0;
    background-color: #fff;
    left: 28px;
    top: -16px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
}

/*消息提示结束*/
.right_con .extra {
    position: absolute;
    top: 26px;
    right: 0;
}

.right_con .extra > div {
    height: 30px;
    line-height: 30px;
    float: left;
    background: #fff;

}

.right_con .extra .search_box {
    width: 165px;
    margin-right: 8px;
    position: relative;
}

.right_con .extra .search_box input {
    width: 100%;
    padding-left: 8px;
    padding-right: 28px;
    font-size: 12px;
}

.right_con .extra .search_box i {
    width: 30px;
    position: absolute;
    top: 1px;
    right: 0px;
    color: #9b9b9b;
    text-align: center;
}

.right_con .extra .shoppingcar {
    width: 146px;
    position: relative;
}

.right_con .extra .shoppingcar:hover {
    cursor: pointer;
}

.right_con .extra .shoppingcar a {
    margin-left: 16px;
    position: absolute;
    top: -14px;
    left: 78px;
}

.right_con .extra .shoppingcar a i {
    display: inline-block;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #ff6600;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
}

.right_con .extra .shoppingcar i.icon-gouwuche {
    font-size: 22px;
    top: 0;
    left: 10px;
    color: #fd982d;

}

.right_con .extra .shoppingcar i.icon-jiantou {
    font-size: 14px;
    color: #aaa;
    margin-left: 92px;

}

.right_con .extra .shoppingcar span {
    color: #aaa;
    margin-left: 6px;
    font-size: 12px;
    position: absolute;
    top: 0px;
}

.right_con .extra .shoppingcar:hover span {
    color: #ff7900;
}

/*导航结束*/
/*中心开始*/
section.auto {
    margin-top: 20px;
    margin-bottom: 30px;
}

section .content_wrap {

}

.content_wrap .content_left {
    width: 152px;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    background: #fff;
}

.content_wrap .content_left dl {
    width: 100%;
    padding-left: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content_wrap .content_left dl dt {
    width: 100%;
    height: 36px;
    line-height: 36px;
    position: relative;
    font-size: 14px;
    color: #323232;
}

.content_wrap .content_left dl dt:hover {
    cursor: pointer;
}

.content_wrap .content_left dl dt i:nth-child(1) {
    margin-right: 4px;
}

.content_wrap .content_left dl dt i.icon-xiala {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 18px;
}

.content_wrap .content_left dl dd {
    height: 36px;
    line-height: 36px;
    text-align: left;
    padding-left: 22px;
    font-size: 12px;
    color: #777;
}

.content_wrap .content_left dl dd:hover a {
    color: #ff7900;
}

.content_wrap .content_left dl dd a.current {
    color: #ff7900;
}

#companyLeft dl dt.current {
    color: #fd982d;
}

#guwenLeft dl dt.current {
    color: #2181f7;
}

/*右边部分*/
.content_wrap .content_right {
    width: 1036px;
    margin-left: 12px;
}

.content_wrap .content_right .title {
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    color: #474747;
    border-bottom: 1px solid #e5e5e5;
}

.content_right .user_infor {
    height: 160px;
    background: #fff;

}

/*认证进度条开始*/
.progress_renzheng {
    height: 160px;
    padding-top: 48px;
    padding-left: 80px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.progress_renzheng ul li {
    width: 290px;
    height: 5px;
    float: left;
    background: #c9c9c9;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.progress_renzheng ul li.active {
    background: #2181f7;
    color: #2181f7;
}

.progress_renzheng ul li.active span {
    background: #2181f7;
}

.progress_renzheng ul li.active p {
    color: #2181f7;
}

.progress_renzheng ul li span {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #c9c9c9;
    color: #fff;
    position: absolute;
    top: -12px;
    left: 128px;
}

.progress_renzheng ul li p {
    text-align: center;
    color: #727272;
    font-size: 14px;
    margin-top: 26px;
}

/*认证进度条结束*/

/*充值开始*/
.recharge_wrap {
    background: #fff;

}

.recharge_wrap .recharge_content {
    padding-top: 70px;
    padding-left: 112px;
    padding-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.recharge_wrap .recharge_content span {
    font-size: 14px;
    color: #474747;
}

.recharge_wrap .recharge_content .zhuanru span i {
    color: #ff7900;
    margin-right: 4px;
}

.recharge_wrap .recharge_content .zhuanru .input_box {
    width: 198px;
    height: 36px;
    border: 1px solid #ddd;
    margin: -6px 8px 14px 10px;
}

.recharge_wrap .recharge_content .zhuanru .input_box input {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 14px;
    font-size: 14px;
}

.recharge_content .pay_list {

}

.recharge_content .pay_list span {
    color: #474747;
    display: block;
    line-height: 48px;
    margin-top: 15px;

}

.recharge_content .pay_list span i {
    color: #ff7900;
    margin-right: 4px;
}

.recharge_content .pay_list .list {
    margin-top: 15px;
}

.recharge_content .list ul {
    overflow: hidden;
    margin-left: 10px;
}

.recharge_content .list ul li {
    /* float: left; */
    width: 308px;
    height: 48px;
    line-height: 48px;
    margin-right: 10px;
    padding-left: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}

.recharge_content .list ul li.checked {
    border-color: #fd982d;
    border-width: 2px;
}

.recharge_content .list ul li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.recharge_content .list ul li a img {
    margin-top: 5px;
}

.recharge_content .list ul li a i {
    position: absolute;
    top: -2px;
    left: 124px;
    color: #fd982d;
}

.recharge_content .quick_way {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fd982d;
    color: #fff;
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 174px;
    margin-top: 20px;
}

.recharge_content .quick_way:hover {
    cursor: pointer;
    background: #ff7900;
}

/*充值结果结果*/
.recharge_result_wrap {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 80px;
}

.recharge_result_wrap .txt {
    font-size: 20px;
    color: #323232;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
    position: relative;
}

.recharge_result_wrap .txt .icon_box {
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 8px;
    left: 6px;
}

.recharge_result_wrap .txt .icon_box img {
    width: 36px;
    height: 36px;

}

.recharge_result_wrap .txt span {
    margin-left: 54px;
}

.recharge_result_wrap .recharge_list {

    margin-top: 10px;
}

.recharge_result_wrap .recharge_list .item {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    margin: 4px 0;
}

.recharge_result_wrap .recharge_list .item span,
.recharge_result_wrap .recharge_list .item b {

    float: left;
}

.recharge_result_wrap .recharge_list .item span {
    width: 100px;
    height: 30px;
    text-align: right;
}

.recharge_result_wrap .recharge_list .item b {
    margin-left: 10px;
}

.recharge_result_wrap .recharge_list .item a {
    text-decoration: underline;
    color: #2181f7;
    font-size: 14px;
}

.recharge_result_wrap .recharge_list .item .other {
    margin-left: 8px;
}

.recharge_result_wrap .recharge_list .item .icon-jiantou {
    font-size: 12px;
}

.recharge_result_wrap .caozuo {
    width: 46%;
    margin-top: 25px;
    margin-left: 38px;
}

.recharge_result_wrap .caozuo > div {
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #fd982d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.recharge_result_wrap .caozuo > div:hover {
    background: #ff7900;
}

/*.recharge_result_wrap .caozuo > div:last-child {*/
/*margin-left: 96px;*/
/*}*/

.recharge_result_wrap .caozuo > div a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 14px;
}

/*充值结果结束*/
/*充值结束*/

/*企业个人中心 服务顾问个人中心公共 css 结束*/

/*企业顾问审核退款添加退款记录s*/

/*11.6新增退款记录 s*/
.refund_history_wrap {
    background: #fff;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.refund_history_wrap .history_tit {
    line-height: 36px;
    font-weight: 700;
    font-size: 16px;
    color: #474747;
}

.refund_history_wrap .history_lists {
    margin-top: 46px;
}

.refund_history_wrap .history_lists .list {
    margin-bottom: 15px;
}

.history_lists .list .time,
.history_lists .list .list_detail {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.history_lists .list .time {
    width: 99px;

}

.history_lists .list .list_detail {
    width: 824px;
    max-width: 824px;
    color: #7c7c7c;
    line-height: 28px;
    margin-top: -5px;
}

.history_lists .list .list_detail span {
    /*line-height: 26px;*/

}

.history_lists .list_detail .name,
.history_lists .list_detail .txt {
    color: #474747;
    font-weight: 700;
}

.history_lists .list_detail .money {
    font-weight: 700;
    color: #FF7900;
}

.history_lists .list_detail .txt {
    margin-left: 10px;
}

.history_lists .img_wrap {
    margin-top: 10px;
}

.history_lists .img_wrap .type {
    color: #474747;
    font-weight: 700;
}

.history_lists .img_wrap .img_box {
    margin-left: 20px;
    font-size: 0;
}

.history_lists .img_wrap .img_box a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.history_lists .img_wrap .img_box .img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 246px;
    height: 160px;
    border: 1px dashed #ddd;

}

.history_lists .img_wrap .img_box .img img {
    display: block;
    max-width: 246px;
    height: auto;
    max-height:160px;
    margin: auto;
}

/*11.6新增退款记录 e*/

/*企业顾问审核退款添加退款记录e*/

/*提现pop s*/

.depositPop {
    width: 824px;
    height: 462px;
    padding: 54px 50px 0 74px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.depositPop .title {
    font-size: 18px;
    font-weight: normal;
}

.depositPop .bianhao {
    color: #474747;
    font-size: 16px;
    margin-top: 25px;
}

.trade_progress_wrap .step {
    height: 154px;
}

.depositPop .trade_progress_wrap .step .time {
    font-size: 13px;
    color: #7c7c7c;
}

.depositPop .trade_progress_wrap {
    width: 734px;
    margin: 0;
    padding-top: 0;
}

.depositPop .tips {
    font-size: 14px;
    color: #474747;
    margin-left: 0;
    margin-top: 10px;
}

.depositPop .options {
    width: 100px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin: 42px auto 0 auto;
}

.depositPop .options a {
    display: block;
    background: #fd982d;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.depositPop .options a:hover {
    background: #ff7900;

}

.depositPop .failed_tips {
    font-size: 14px;
    color: #ff0000;
    margin-top: 14px;
}

/*提现pop e*/