/*退款管理*/

.refundWrap1 .order_top li {
    width: 20%;
}

.refundWrap1 .order_top .name {
    width: 33%;
}

.refundWrap1 .order_top .quyu {
    width: 16%;
}

.refundWrap1 .order_top .guzhu {
    width: 16%;
}

.refundWrap1 .order_top .price {
    width: 17%;
}

.refundWrap1 .order_top .caozuo {
    width: 18%;

}

/*.refundWrap1 .content .caozuo {*/
/*padding-top: 30px;*/
/*}*/

/*.refundWrap1 .content .caozuo a {*/
/*color: #7c7c7c;*/
/*text-align: center;*/
/*}*/

/*.refundWrap1 .content .caozuo a:hover {*/
/*color: #ff7900;*/
/*}*/

.refundWrap2 .order_top li {
    width: 14%;
}

.refundWrap2 .order_top .name {
    width: 28%;
}

.refundWrap2 .order_top .quyu {

}

.refundWrap2 .order_top .guzhu {
    width: 15%;
}

.refundWrap2 .order_top .price {
    width: 14%;

}

/*.refundWrap2 .order_top .state {*/

/*}*/

/*.refundWrap2 .order_top .caozuo {*/

/*}*/

/*.refundWrap2 .content .caozuo {*/
/*padding-top: 30px;*/
/*}*/

/*.refundWrap2 .content .caozuo a {*/
/*color: #7c7c7c;*/
/*text-align: center;*/
/*}*/

/*.refundWrap2 .content .state_box {*/
/*padding-top: 30px;*/
/*}*/

/*.refundWrap2 .content .state_box a.state {*/
/*color: #7c7c7c;*/
/*text-align: center;*/
/*}*/

/*.refundWrap2 .content .caozuo a:hover {*/
/*color: #ff7900;*/

/*}*/

/****************退款管理详情****************/
.refund_detail_wrap {
    background: #fff;
    font-size: 14px;
    color: #474747;
    padding-bottom: 30px;
}

.refund_detail_wrap .refund_detail {
    padding-left: 30px;
}

.refund_detail_wrap .refund_detail .progress {
    height: 130px;
    padding-left: 50px;
}

.refund_detail .refund_con {
    margin-top: 16px;
    padding-left: 40px;
}

.refund_detail .refund_con .tips {
    font-size: 12px;
    color: #7c7c7c;
    margin-left: 98px;
    margin-bottom: 10px;
}

.refund_detail .refund_con .tips i {
    font-size: 14px;
    margin-right: 4px;
}

.refund_detail .refund_con .item_pto .desc {
    width: 452px;
    margin-left: 22px;
    padding-top: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.refund_detail .refund_con .item_pto .desc p {
    line-height: 22px;
    color: #7c7c7c;
    font-size: 0;
}

.refund_detail .refund_con .item_pto .desc p i,
.refund_detail .refund_con .item_pto .desc p span {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.refund_detail .refund_con .item_pto .desc .p1 {
    font-size: 14px;
    color: #474747;
}

.refund_detail .refund_con .item_pto .desc .p2 {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.refund_detail .refund_con .item_pto .desc .p3 {
    margin-top: 4px;
}

.refund_detail .refund_con .item_pto .desc .p3 i {
    width: 74px;
}

.refund_detail .refund_con .item_pto .desc .p3 span {
    width: 376px;
}

.refund_detail .refund_con .item_pto .desc .order_price i {

}

.refund_detail .refund_con .item_pto .desc .order_price span {
    color: #fd982d;
}

.refund_detail .refund_con .item_l {
    width: 96px;
    min-height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
}

.refund_detail .refund_con .item_l i {
    color: #ff7900;
    position: absolute;
    left: 6px;
    top: 0;
}

.refund_detail .refund_con .item_r {
    max-width: 820px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 40px;
    line-height: 40px;
}

.refund_detail .refund_con .item_pto .item_r .img {
    width: 154px;
    height: 110px;
    max-width: 154px;
    max-height: 110px;
}

.refund_detail .refund_con .item_pto .item_r .img img {
    display: block;
    width: 100%;
    height: 100%;
}

/*退款商品为套餐*/
.refund_detail .refund_con .item_r .taocanPro {
    max-width: 784px;
}

.refund_detail .refund_con .item_r .taocanPro .ord_tit {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.refund_detail .refund_con .item_r .taocanPro .ord_tit .ord_tit_tc {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.refund_detail .refund_con .item_r .taocanPro .ord_tit .ord_tit_tc span {
    color: #fd982d;
}

.refund_detail .refund_con .item_r .taocanPro .ord_list {
    padding-left: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.refund_detail .refund_con .item_r .taocanPro .ord_list li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.refund_detail .refund_con .item_r .taocanPro .ord_list li i {
    color: #ff7900;
}

.refund_detail .refund_con .item_r .taocanPro .order_price {
    padding-left: 10px;
}

.refund_detail .refund_con .item_r .input_box {
    width: 252px;
    height: 36px;
}

.refund_detail .refund_con .item_r .input_box input {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5;
    margin-top: 10px;
    padding: 0 10px;
}

.refund_detail .refund_con .renzheng_list .desc {
    margin-left:120px;
    margin-top:8px;
}

.refund_con .refund_cause .input_box {
    /*border: 1px solid #e5e5e5;*/
    margin-top: 8px;
    position: relative;
}

.refund_con .refund_cause .input_box span {
    display: block;
    width: 252px;
    border: 1px solid #e5e5e5;
    text-align: left;
    padding-left: 10px;
    height: 36px;
    line-height: 36px;
    color: #7c7c7c;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    cursor: pointer;
    position: relative;
}

.refund_con .refund_cause .input_box i {
    position: absolute;
    top: -2px;
    right: 12px;
    font-size: 20px;
    color: #7c7c7c;
}

.refund_con .refund_cause .input_box ul {
    width: 250px;
    position: absolute;
    top: 35px;
    left: 0;
    border: 1px solid #e5e5e5;
    background: #fff;
    z-index: 10;
    display: none;
}

.refund_con .refund_cause .input_box ul li {
    line-height: 36px;
    background: #fff;
    text-align: left;
    padding-left: 10px;
    color: #7c7c7c;
}

.refund_con .refund_cause .input_box ul li:hover {
    background: #fd982d;
    color: #fff;
    cursor: pointer;
}

.refund_con .item_r .input_textarea {
    width: 640px;
    height: 180px;
    margin-top: 14px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    position: relative;
}

.refund_con .item_r .input_textarea textarea {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    line-height: 24px;
}

.refund_con .item_r .input_textarea span {
    position: absolute;
    right: 10px;
    bottom: -12px;
    font-size: 12px;
    color: #a0a0a0;
}

.refund_con .refund_price .desc {
    margin-left: 10px;
    margin-top: 6px;
}

.refund_con .refund_price .desc a {
    text-decoration: underline;
    color: #ff7900;
    margin-right: 6px;
}

.refund_con .refund_price .desc span {
    color: #7c7c7c;

}

.refund_con .item_upload {
    margin-top: 22px;
    /*height: 192px;*/
}

.upload_box {
    position: relative;

}

.upload_box a {
    padding: 0 15px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #7c7c7c;
    z-index: 100;
    display: none;
}

/*.refund_con .item_upload .item_r .upload_box:hover {*/
/*border: 1px solid #2181f7;*/
/*}*/

/*.refund_con .item_upload .item_r .img_box {*/
/*width: 246px;*/
/*height: 160px;*/
/*max-width: 246px;*/
/*max-height: 160px;*/
/*position: absolute;*/
/*left: 0;*/
/*top: 0;*/
/*}*/

/*.refund_con .item_upload .item_r img {*/
/*display: block;*/
/*width: 246px;*/
/*height: 160px;*/
/*max-width: 246px;*/
/*max-height: 160px;*/
/*position: absolute;*/
/*left: 0;*/
/*top: 0;*/
/*}*/

.refund_con .item_upload .item_r input {
    width: 246px;
    height: 160px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.refund_con .item_upload .item_r .desc {
    color: #7c7c7c;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
}

.refund_detail .options {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fd982d;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 10px;
}

.refund_detail .options:hover {
    cursor: pointer;
    background: #ff7900;
}

/*退款审核*/
.refund_detail .state_text {
    margin-bottom: 10px;
    text-align: center;
}

.refund_detail .state_text .p1 {
    height: 54px;
    line-height: 54px;
    color: #363636;
    text-align: center;
}

.refund_detail .state_text .p2 {
    font-size: 14px;
    line-height: 20px;
    color: #7c7c7c;
    text-align: center;
}

.refund_detail .state_text span, .refund_detail .state_text b,
.refund_detail .state_text i {
    font-weight: 700;

}

.refund_detail .refund_price .money {
    color: #ff7900;
    font-weight: 700;
}

/*投诉*/
.complain_wrap .refund_detail {
    padding-top: 24px;
}

/*退款记录s*/

/*退款记录e*/