<div class="footer-box clear">
    <div class="safeguard">
        <ul class="clearfix">
            <li>
                <i class="iconfont">&#xe601;</i>
                <p>
                    <span class="title fw_700">资质认证</span>
                    <span>服务商100%实名审核认证</span>
                </p>
            </li>
            <li>
                <i class="iconfont">&#xe602;</i>
                <p>
                    <span class="title fw_700">支付安全</span>
                    <span>明码标价支付及信息安全</span>
                </p>
            </li>
            <li>
                <i class="iconfont">&#xe604;</i>
                <p>
                    <span class="title fw_700">专人服务</span>
                    <span>服务全程进行信息化监控</span>
                </p>
            </li>
            <li>
                <i class="iconfont icon-shouhouwuyou"></i>
                <p>
                    <span class="title fw_700">售后无忧</span>
                    <span>服务出问题客服经理全程跟进</span>
                </p>
            </li>
        </ul>
    </div>
    <div class="footer-content-top-box clearfix">
        <div class="footer-tel lf">
            <ul>
                <li><i class="iconfont icon-shouhou"></i>售后服务支持</li>
                <li><i class="iconfont icon-shijian1"></i>周一至周日 9:00-18:00</li>
                <li><i class="iconfont icon-dianhua1"></i>首途服务热线:<p>400-0929-233</p></li>
            </ul>
        </div>
        <div class="footer-nav-link">
            <dl>
                <dt>首途介绍</dt>
                <dd><a href="" target="">了解我们</a></dd>
                <dd><a href="" target="">联系我们</a></dd>
                <dd><a href="" target="">加入我们</a></dd>
                <dd><a href="" target="">投诉建议</a></dd>
            </dl>
            <dl>
                <dt>常见问题</dt>
                <dd><a href="">新手帮助</a></dd>
                <dd><a href="">支付说明</a></dd>
                <dd><a href="">开具发票</a></dd>
                <dd><a href="">问答</a></dd>
            </dl>
            <dl>
                <dt>合作</dt>
                <dd><a href="">服务商申请</a></dd>
                <dd><a href="">商务合作</a></dd>
                <dd><a href="">渠道合作</a></dd>
            </dl>
            <dl>
                <dt>平台规则</dt>
                <dd><a href="">注册协议</a></dd>
                <dd><a href="">冻结规则</a></dd>
                <dd><a href="">企业服务协议</a></dd>
                <dd><a href="">服务商协议</a></dd>
                <dd><a href="">售后服务政策</a></dd>
            </dl>
        </div>
        <div class="footer-code ri">
            <img src="images/q.png" alt="" />
            <p>关注首途微信公众号</p>
        </div>
    </div>
    <div class="footer-links  clear clearfix">
        <p class="clearfix">
            <i class="iconfont">&#xe607;</i>
            <a href="" target="_blank">友情链接</a>
            <a href="" target="_blank">中国商标局</a>
            <a href="" target="_blank">国家知识产权局</a>
            <a href="" target="_blank">工业和信息化部</a>
            <a href="" target="_blank">世界知识产权组织</a>
            <a href="" target="_blank">国家知识产权局</a>
            <a href="" target="_blank">知识产权发展研究中心</a>
            <a href="" target="_blank">中国专利信息中心</a>
        </p>

    </div>
</div>
<div class="copyright-box">
    <p class="m20">首途 | 智慧企业新服务平台</p>
    <p>
        Copyright © 2016 - 2017 GZshoutu.Com All Rights Reserved.贵公网安备52010202000142 黔ICP备15014170号 <a href="" target="">
            网站地图
        </a>
    </p>
</div>