
<div class="content_left fl" id="companyLeft">
    <dl>
        <dt class="">
            <i class="iconfont icon-dingdanzhongxin2"></i>
            订单中心
            <i class="iconfont icon-xiala"></i>
        </dt>
        <dd>
            <a href="/Users/OrderCenter/Index">我的订单</a>
        </dd>
        <dd>
            <a href="/Users/Evaluate/Index" class="">我的评价</a>
        </dd>
        <dd>
            <a href="/Users/InvoiceManage/Index">发票管理</a>
        </dd>
        <dd>
            <a href="/Users/RefundManage/Index">退款管理</a>
        </dd>
        <dd>
            <a href="/Users/BrandOrderCenter/Index">自助商标</a>
        </dd>
    </dl>
    <dl>
        <dt>
            <i class="iconfont icon-wodezichan"></i>
            我的资产
            <i class="iconfont icon-xiala"></i>
        </dt>
        <dd>
            <a href="/Users/Account/CouponIndex">优惠券</a>
        </dd>
        <dd>
            <a href="/Users/Account/Balancelist">余额</a>
        </dd>
        <dd>
            <a href="/Users/Account/RedEnvelopesList">红包</a>
        </dd>
    </dl>
    <dl>
        <dt>
            <i class="iconfont icon-fabu2"></i>
            我的发布
            <i class="iconfont icon-xiala"></i>

        </dt>
        <dd>
            <a href="/Users/Release/DemandIndex">需求管理</a>
        </dd>
        <dd>
            <a href="/Users/Release/QuestionIndex">问答管理</a>
        </dd>
        <dd>
            <a href="/Users/CustomService/NewsIndex">资讯管理</a>
        </dd>
    </dl>
    <dl>
        <dt>
            <i class="iconfont icon-shoucang"></i>
            我的收藏
            <i class="iconfont icon-xiala"></i>

        </dt>
        <dd>
            <a href="/Users/Favorites/ServiceIndex">服务管理</a>
        </dd>
        <dd>
            <a href="/Users/Favorites/ActivityIndex">活动管理</a>
        </dd>
        <dd>
            <a href="/Users/Favorites/NewsIndex">资讯管理</a>
        </dd>
        <dd>
            <a href="/Users/Favorites/AnswerIndex">问题管理</a>
        </dd>
    </dl>
    <dl>
        <dt>
            <i class="iconfont icon-denglu"></i>
            客户服务
            <i class="iconfont icon-xiala"></i>
        </dt>
        <dd>
            <a href="/Users/CustomService/ComplaintIndex">我的投诉</a>
        </dd>
        <dd>
            <a href="/Users/CustomService/ProposalIndex">意见建议</a>
        </dd>
    </dl>
    <dl>
        <dt>
            <i class="iconfont icon-shezhi"></i>
            设置
            <i class="iconfont icon-xiala"></i>
        </dt>
        <dd>
            <a href="/Users/Set/UsersView">个人信息</a>
        </dd>
        <dd>
            <a href="/Users/Set/AccountSafe">安全中心</a>
        </dd>
        <dd>
            <a href="/Users/Set/AccountBind">账号绑定</a>
        </dd>
        <dd>
            <a href="/Users/Set/AccountAuthIndex">企业认证</a>
        </dd>
        <dd>
            <a href="/Users/Set/AccountServiceAddressList">服务地址</a>
        </dd>
    </dl>
</div>
<script type="text/javascript">
        //选中活动模块
        var locurl = window.location.href;
        $(".content_left dd").each(function () {
            var url = $(this).find("a").attr("href");
            if (locurl.indexOf(url) > -1) {
                $(this).find("a").addClass("current");
            } else {
                $(this).find("a").removeClass("current");
            }
        });
</script>