<nav>
    <div class="nav_wrap auto clear_float">
        <div class="logo_wrap">
            <div class="logo">
                <a href="http://www.shoutu.com.cn">
                    <img src="/images/center_logo.png" />
                </a>
            </div>
        </div>
        <!--右边部分-->
        <div class="right_con">
            <div class="center fl">
                <p>个人中心</p>
                <a href="./index.html">返回首途首页</a>
            </div>
            <div class="my_list fl">
                <ul class="clear_float">
                    <li>
                        <a href="/">我的主页</a>
                    </li>
                    <li class="account_set accountSet">
                        <a href="javascript:" class="accountBtn">账户设置<i class="iconfont icon-jiantou-xia"></i></a>
                    </li>
                    <li class="msg">
                        <a href="#">消息<i class="iconfont">66</i></a>
                    </li>
                    <div class="drop_box">
                        <ul>
                            <li>
                                <a href="#">基本信息</a>
                            </li>
                            <li>
                                <a href="#">账户安全</a>
                            </li>
                            <li>
                                <a href="/Set/AccountBind">账号绑定</a>
                            </li>
                            <li>
                                <a href="#">发票信息</a>
                            </li>
                            <li>
                                <a href="#">服务地址</a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="extra">
                <!--搜索框-->
                <div class="search_box">
                    <input type="text" placeholder="公司注册">
                    <i class="iconfont icon-sousuo"></i>
                </div>
                <!--购物车-->
                <div class="shoppingcar">
                    <i class="iconfont icon-gouwuche"></i>
                    <span>我的购物车</span>
                    <a href="#"><i class="iconfont">0</i></a>
                    <i class="iconfont icon-jiantou"></i>
                </div>
            </div>
        </div>
    </div>
</nav>